services:
  - type: web
    name: my-flask-app
    runtime: python
    plan: free
    branch: main
    healthCheckPath: /
    buildCommand: "pip install -r requirements.txt"
    startCommand: "gunicorn app:app"
